{% extends 'base.html' %}


{% block content %}
<section class="section">
    <div class="">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2 class="fw-bold text-center">Add Project</h2>
                    </div>
                    <div class="card-body">
                        <form action={% url 'create' %} method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="form-label">Title</label>
                                <input type="text" Required name="title" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Descritpion</label>
                                <input type="text" Required name="description" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Image</label>
                                <input type="file" Required name="image" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Project's URL</label>
                                <input type="text"  name="project_url" class="form-control">
                            </div>
                            <div class="text-center"><button type="submit" class="btn-lg btn-danger">Create</button></div>
                        </form>
                    </div>
                    {% include '_partials/messages.html'%}
                </div>
            </div>
        </div>
    </div>
  </section>
  
{% endblock %}